
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	transform: translateY(0); 
	}
	40% {
    transform: translateY(-15px);  }
	60% {
    transform: translateY(-10px);}
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	transform: translateY(0); 
	}
	40% {
    transform: translateY(-15px);  }
	60% {
    transform: translateY(-10px);}
}


body{
	
	align-content: center;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	/*font-family: 'Oxygen', sans-serif;*/
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	color: #000;
}

#Home{
	color: #f2f2f2;
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

#Home .bgimg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("images/banner4.png");
	background-position: center center;
	background-size: cover;
	margin: none;
	padding: none;
}
.bgimg p{
	bottom: 10%;
	
	position: absolute;
	text-align: center;
	left: 50%;
	width: 380px;
	margin-left: -190px;
	padding: 0;
}


.header{
	position: fixed;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	margin-top: 0px;
	/*background-color: #5c5c5c;*/
	height: 55px;
	width: 100%;
	
	
}
#warning{
	position: fixed;
	display: block;
	text-align: center;
	margin: 0;
	background-color: #f2f2f2;
	padding: 5px;
	border-radius: 5px;
}
#team{
	display: flex;
	margin-top: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	margin-bottom: 2%;
	color: /*#4d4d4d*/ #000;
	align-items: baseline;
	align-items: center;
	justify-content: center;
	align-content: center;
	
	
}

#team h4{
	margin-top: 0;
}
#team h3{
	margin-bottom: 0;
}

#teamblck{
	display: inline-block;
	width: 20%;
	margin: 2%;
	margin-top: 0;
}

#colparent{
	display: inline-block;
	width: 90%;
}

#col1{
	display: block;
	width: 47%;
	/*position: absolute;*/
	float: left;
	margin-bottom: 1%;
	
}
#col2{
	display: block;
	width: 47%;
	/*position: relative;*/
	float: right;
	margin-bottom: 1%;
}

#things{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
#things .scdown{
	width: 30px;
	height: 30px;
	bottom: 0%; /*gvd*/
	position: absolute;
	background-image: url("images/test.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.bounce {
  	-webkit-animation-name: bounce;
	animation-name: bounce;
}
.animated{
	
    animation-iteration-count: 2;
    -webkit-animation-iteration-count: 2;

	animation-fill-mode:both;
	-webkit-animation-fill-mode:both;
	-webkit-animation-duration:2s;
	animation-duration:2s;
}


.header #child{
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	/*position: fixed;*/
}


.header #logo{
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: left;
	align-content: center;
	margin-left: 5px;
	/*position: fixed;*/
}

.header a{
	text-decoration: none;
	color: #8c8c8c; /* dit kan aangepast worden*/ 
	margin-right: 2%;
}

.header #child a:hover{
	text-decoration: none;
	color: #FF6600;
}
.header #child a.active{
	text-decoration: none;
	color: #FF6600;
	border-bottom: solid 2px #FF6600;
}

#container{
	position: relative;
	margin-top: 5%;
}

#err404logo{
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	align-content: center;
	margin-top: 5%;
}

.err4page{
	display: flex;
	/*align-items: left;
	/*justify-content: center;
	align-content: center;*/
	text-align: center;
	flex-direction: column;
	margin-top: 15%;
	float: left;
	margin-left: 5%;
}

.err4bg{
	background-image: url("images/owl.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
}

.err4bg a{
	color: #be3a26;
}

#twitter-timeline{
	display: inline-block;
	left: 20%;
}
#twcontainer{
	display: flex;
	align-items: center;
	justify-content: right;
	align-content: center;
	margin-right: 10%;
}

#footer1{
	position: absolute;
	background-color: #f2f2f2;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	bottom: 0%;

	
}

#footer1 #fchildr{
	
	float: right;
}
#footer1 a{
	/*display: flex;*/
	top: 5px;
	left: 4%;
	margin-left: 5px;
	margin-right: 50px;
	text-decoration: none;
	
}
#footer1 a:hover{
	color: #FF6600;
}

.buttonfooter{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	background-color: #FF6600;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
	left: 4%;
	
}
a:hover .buttonfooter{
	color: #fff;
	background-color: #ff8533;
	
}

.insertname{
	margin-top: 2px;
	margin-bottom: 2px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}
.insertname p{
	margin-left: 0;
	margin-top: 15px;
}

a{
	color: #737373;
}

.insertname #content{
	display: block;
	width: 100%;
	text-align: center;
	color: #FF6600;
	/*margin-left: 2%;*/
}
#paragraph{
	width: 70%;
	text-align: center;
	margin-top: 0;
}

.button{
	box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
	text-decoration: none;
	color: #fff;
	background-color: #ff6600;
	/*border-left: solid 1px #999;
	border-right: solid 1px #737373;*/
	/*width: 10%;*/
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	text-align: center;
}

#supstuff{
	display: flex;
	align-items: baseline;
	justify-content: center;
	text-align: left;
	margin-top: 2%;
	color: #f2f2f2;
	/*background-color: #fff;*/
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	padding-bottom: 3%;
}
#supthings{
	display: flex;
	width: 25%;
	margin: 5%;
	flex-direction: column;
	
}
#supthings h1, #supthings h2, #supthings h3, #supthings h4, #supthings p, #supthings a{
	margin: 0;
	margin-bottom: 10px;
}
#supthings a{
	color: #be3a26;
}
#supthings h3{
	border-bottom: solid 1px #737373;
}


.button:hover{
	border: none;
	background-color: #FF8500;
}

.insertname h3{
	margin-top: -5px;
	margin-left: 2.5%;
}

h1, h2, h3, h4{
	position: relative;
	font-weight: normal;
	margin: 5%;
	margin-bottom: 1%;
}
p{
	margin-left: 3%;
}


/*---------------------------------------------
 * OLDER STUFF
 *---------------------------------------------
 */

/*blog main stuff*/
#blogbox{
	margin: auto;
	margin-top: 2%;
	display: block;
	height: 200px;
	width: 66%;
	text-decoration: none;
	background-color: #fff;
	padding: 1%;
	/*border-top: solid 1px #e6e6e6;
	border-bottom: solid 1px #e6e6e6;*/
}

#blogbox h2{
	margin-bottom: 0%;
}


#blogbox:hover{
	background-color: #fdfdfd;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#website_blg{
	margin: 2%;
	color: #669999;
	float: right;
}

#OS_blg{
	margin: 2%;
	color: #3366cc;
	float: right;
}

#fc_blg{
	margin: 2%;
	color: #ff704d;
	float: right;
}

#txt_blg{
	margin-top: 6%;
}

#img_blg{
	float: right;
}

#foot_blg{
	margin: 5%;
}

#foot_blg a{
	text-decoration: none;
}
#foot_blg a:hover{
	font-weight: bold;
}

#date_blg{
	margin-top: 0%;
}



/*--------------------------------------------
 * SMALLER DEVICES
 *--------------------------------------------
 */
 
@media screen and (max-width: 920px){
	#team{
		flex-direction: column;
		text-align: center;
	}
	#teamblck{
		width: 100%;
	}
	#team h4, #team h3{
		text-align: center;
		margin-top: 0;
	}
	.button{
		width: 30%;
	}
	#supthings{
		flex-direction: row;
	}

}