body{
	background-color: #FFF;
	color: #595959 /*#333*/;
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
}

#ofzo{
	padding: 15px;
	border: none;
	margin-bottom: 0px;
	background-color: #f9f9f9;
	
}
#ofzo p{
	margin: 0px;
	text-decoration: none;
}

#ofzo a{	
	padding: 10px;
	margin: 1%;
	margin-top: 1%;
	background-color: #f7450c;
	color: #fff;
	text-decoration: none;
}

#ofzo2{
	display: inline-block;
	padding: 5px;
	margin: 4%;
	margin-top: 1%;
	background-color: #fff;
	width: 75%;
	height: 50px;
	border: solid 1px #010101;
	
}



#ofzo2 a{
	text-decoration: underline;
}


#cntc{
	display: inline-block;
	margin-right: 10%;
	float: right;
}
#cntc a{
	align-items: baseline;
	position: absolute;
	color: #4d4d4d;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	text-decoration: underline;
	
}
#cntc img{
	align-items: baseline;
	position: relative;
}
#page{
	display: inline-block;
}


#contact{
	display: block;
	margin: 0px;
	background-image: url("images/dennenappel.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: NONE;
	color: #e6e6e6;
	padding: 50px;
	
	
}
#contact h1{
	margin: 0px;
 }

#about{
	display: block;
	margin: 0px;
	background-image: url("images/feathercode04.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: NONE;
	color: #333;
	padding: 50px;
	
	
}
#about h1{
	margin: 0px;
 }


#contactinf{
	display: inline-block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 5%;
	padding-right: 300px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 10px;
	color: #4d4d4d;
	float: right;
 }
#contactinf h3{
	margin: 5px;
 }
 
#contactinf a{
	float: left;
	margin: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	position: absolute;
	color: #4d4d4d;
	text-decoration: underline;
	
 }
#contactinf img{
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 5px;
 }
 
#button1{
	display: inline-block;
	color: #4d4d4d;
	background-color: #fff;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
	
}
#button1:hover{
	background-color: #f2f2f2;
}
 
 
 
 
 
 
/* dropdown menu*/
.dropdown{
	position: relative;
	display: inline-block;
	padding: 10px;
	background-color: #f7450c;
	color: #fff;
	cursor: pointer;
}

.dropdown:hover{

	/*background-image: url("images/nav.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;*/
	color: #fff;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #fff;
	
	/*min-width: 50px;*/
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	/*padding: 10px 10px;*/
	float: left;
	left: 0;
	z-index: 1;
}

#ofzo .dropdown-content a{
	
	margin-bottom: 1%;
	background-color: #fff;
	color: #4d4d4d;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	text-align: left;
}
#ofzo .dropdown-content a:hover{
	background-color: #f2f2f2;
	/*border-bottom: solid 1px #f2f2f2;*/

}


.dropdown:hover .dropdown-content{
	
	display: block;

}


















a img{
	margin: 10px;
	border: none;


}

img{
	margin: 5%;
	border: none;
	
}

h1, h2, h3, h4{
	margin: 1%;
	margin-top: 2%;
	margin-left: 2%;
}

p{
	margin-left: 2%;
}

a{	
text-decoration: underline;
color: #4d4d4d;
}
