body{
	background-color: #FFF;
	color: #595959 /*#333*/;
	margin: 0px;
	padding: 0px;
	/*font-family: 'Oswald', sans-serif;*/
	
	font-family: 'Oxygen', sans-serif;
	font-style: normal;
}

#ofzo{
	padding: 3px;
	border: none;
	margin-bottom: 0px;
	background-color: #fff /*#f9f9f9*/;
	
}
#ofzo p{
	margin: 0px;
	text-decoration: none;
}

/*#ofzo a{	
	padding: 10px;
	margin: 1%;
	margin-top: 1%;
	background-color: #f7450c;
	color: #fff;
	text-decoration: none;
}*/

#colparent{
	display: inline-block;
	width: 90%;
	margin-left: 1%;
	
}

#col1{
	display: block;
	width: 45%;
	position: absolute;
	float: left;
	margin-bottom: 1%;
	
}
#col2{
	display: block;
	width: 45%;
	position: relative;
	float: right;
	margin-bottom: 1%;
}

#team{
	display: inline-block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding-top: 2%;
	padding-bottom: 2%;
	width: 100%;
	margin: none;
	color: #4d4d4d;
	align-items: baseline;
}

#teamblck{
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 2%;
}
#teamblck p{
	border-top: solid 1px #e6e6e6;
}	

#block{
	display: inline-block;
	background-color: #f7450c;
	padding: 5px;
	margin: 2px;
	border-radius: 5px;
}


#block a{
	text-decoration: none;
	color: #f9f9f9;
	font-size: 14px;
	/*font-weight: bold;*/
}




#ofzo2{
	display: inline-block;
	padding: 5px;
	margin: 4%;
	margin-top: 1%;
	background-color: #fff;
	width: 75%;
	height: 50px;
	border-radius: 5px;
	border: solid 1px #010101;
	
}



#ofzo2 a{
	text-decoration: underline;
}


#cntc{
	display: inline-block;
	margin-right: 10%;
	float: right;
}
#cntc a{
	align-items: baseline;
	position: absolute;
	color: #4d4d4d;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	text-decoration: underline;
	
}
#cntc img{
	align-items: baseline;
	position: relative;
}
#page{
	display: inline-block;
}


#contact{
	display: block;
	margin: 0px;
	background-image: url("images/feathercode04.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: NONE;
	color: #e6e6e6;
	padding: 50px;
	
	
}
#contact h1{
	margin: 0px;
 }

#about{
	display: block;
	margin: 0px;
	background-image: url("images/Banner.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: NONE;
	color: #e6e6e6;
	padding: 50px;
	
	
}
#about h1{
	margin: 0px;
 }

 #home{
	display: block;
	margin: 0px;
	background-image: url("http://feathercode.github.io/images/index.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: NONE;
	color: #e6e6e6;
	padding: 50px;
	
	
}
#home h1{
	margin: 0px;
 }

#err404logo{
	margin: 5%;
	margin-left: 10%;
}
#err404page p{
	margin: none;
}
#err404page h4{
	margin-bottom: none;
	margin-left: 1%;
}

#contactinf{
	display: inline-block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 5%;
	padding-right: 100px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 10px;
	color: #4d4d4d;
	float: right;
 }
#contactinf h3{
	margin: 5px;
 }
 
#contactinf a{
	float: left;
	margin: 5px;
	margin-bottom: 0px;
	margin-top: 5px;
	position: absolute;
	color: #4d4d4d;
	text-decoration: underline;
	
 }
#contactinf img{
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 5px;
 }
 
#button1{
	display: inline-block;
	color: #4d4d4d;
	background-color: #fff;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
	
}
#button1:hover{
	background-color: #f2f2f2;
}





/*blog main stuff*/
#blogbox{
	margin: auto;
	margin-top: 2%;
	display: block;
	height: 200px;
	width: 66%;
	text-decoration: none;
	/*border-top: solid 1px #e6e6e6;
	border-bottom: solid 1px #e6e6e6;*/
}

#blogbox h2{
	margin-bottom: 0%;
}


#blogbox:hover{
	padding: 1%;
	padding-btoom: 2%;
	margin-bottom: -2%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#website_blg{
	margin: 2%;
	color: #669999;
	float: right;
}

#OS_blg{
	margin: 2%;
	color: #3366cc;
	float: right;
}

#fc_blg{
	margin: 2%;
	color: #ff704d;
	float: right;
}

#txt_blg{
	margin-top: 6%;
}

#img_blg{
	float: right;
}

#foot_blg{
	margin: 5%;
}

#foot_blg a{
	text-decoration: none;
}
#foot_blg a:hover{
	font-weight: bold;
}

#date_blg{
	margin-top: 0%;
}

/* blog post stuff*/

#blogpostbar{}


a img{
	margin: 10px;
	border: none;


}

img{
	margin: 1%;
	border: none;
	
}

h1, h2, h3, h4{
	font-weight: normal;
	margin: 1%;
	margin-top: 2%;
	margin-left: 2%;
}


p{
	margin-left: 2%;
	margin-top: 0%;
}

a{	
text-decoration: underline;
color: #4d4d4d;
}
