<html>

<link rel="stylesheet" href="style.css" type="text/css" />

<head>
<title>FeatherCode</title>
</head>

<body>
<h3>What do you think of the feedback app?</h3>
<P>The feedback application is an easy way for us to keep track of bugs and feedback. <BR>
This app should be user-friendly and we hope it is, but it probably isn't. Go do some quests and answer<br>
these questions! :)
<BR>
<BR>
- Did you see any bugs, glitches or annoying behavior?<BR>
- Is it user-friendly?<BR>
- What would you change about this app if you could?<BR>
- Would you use this application?<BR>
<BR>
<BR>
Let us know!
<br>
Thanks,<bR>
All members of the FeatherCode team</P>

<form name="Feedback-app" method="post" action="prochtml.php" enctype="text/plain">
<p>Tell us about your experience:<BR><textarea name="experience" size="200" rows="10" cols="50" tabindex="1"></textarea>
		<option value="N/A">Is it user friendly?</option><option label="Yes" value="Yes">Yes</option><option label="No" value="No">No</option>

</form>
</body>

</html>